@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white overflow-x-hidden antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@theme {
  --animate-slow-zoom: slow-zoom 20s infinite alternate;

  @keyframes slow-zoom {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.1);
    }
  }
}